
@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
	@include gradient;
	li {
		padding: 0 0.5rem;
		a {
			color: $white !important;
			text-transform: capitalize;
			font-weight: 600;
		}	
	}
}
.logoo {
	font-size: 1.7rem;
	font-weight: 700;
}
.logooo {
	animation: anim 1s linear infinite;
}
